.box {
    padding: 1.5em;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
}

.card:hover {
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.10), 0 2px 10px 0 rgba(151, 71, 71, 0.12)!important;
}